head, body {


    /*font-size: 11px;*/
    font-family: Helvetica Neue;
    line-height: 120%;
}

.named-tab {
   /*height: 30px; */
   /*text-align: center;*/
   padding: 10px 8px;
}

.named-tab:nth-child(odd) {
  background-color: #eee;
}

.named-tab-name {
    display: inline-block;
    /*font-size: 20px;*/
    font-weight: 200;
    letter-spacing: 0.05em;
    width: 350px;
}

.named-tab-title {
    display: inline-block;
    width: 500px;
}

.named-tab-url {
    display: inline-block;
    width: 500px;
}
