head, body {
  font-family: Helvetica Neue;
  line-height: 120%;
}

.named-tab {
  padding: 10px 8px;
}

.named-tab:nth-child(odd) {
  background-color: #eee;
}

.named-tab-name {
  display: inline-block;
  letter-spacing: 0.05em;
  float: left;
  font-weight: 200;
  width: 350px;
}

.named-tab-title {
  display: inline-block;
  float: left;
  width: 450px;
}

.named-tab-url {
  display: -webkit-box;
}
