head, body {


    /*font-size: 11px;*/
    font-family: Helvetica Neue;
    line-height: 120%;
}

.named-tab {
   /*height: 30px; */
   /*text-align: center;*/
}

.named-tab:nth-child(odd) {
  background-color: #eee;
}

.named-tab-name {
  padding: 10px 8px;
  display: inline-block;
  font-weight: 200;
  letter-spacing: 0.05em;
  width: 350px;
}

.named-tab-title {
  padding: 10px 8px;
  display: inline-block;
  width: 500px;
}

.named-tab-url {
  padding: 10px 8px;
  display: inline-block;
  width: 500px;
}
